<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="VITHealthCareEntities" connectionString="metadata=res://*/VITData.csdl|res://*/VITData.ssdl|res://*/VITData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HealthCare;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="VITHealthCareEntities" connectionString="metadata=res://*/VITData.csdl|res://*/VITData.ssdl|res://*/VITData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HealthCare;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>