<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quản lý phòng khám Z-HealthCare</title>
    <link href="../../Content/images/logo2.ico" rel="shortcut icon" type="image/x-icon">
    <link href="../../Content/images/logo2.ico" rel="icon" type="image/ico">
    <link href="@Url.Content("~/Content/css/login.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()
</body>
</html>