<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/images/logo2.ico" rel="shortcut icon" type="image/x-icon">
    <link href="../../Content/images/logo2.ico" rel="icon" type="image/ico">
    <link href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
</head>
    <body onload="print();">
            @RenderBody()
    </body>
</html>
